<div class="partial_product product" id="<%= product.name %>">
  <a href="/products/<%= product.id%>">
    <img
      class="partial_product_left"
      src="images/deleteMockupImages/casserole-dish-2776735_1280.jpg"
      alt="Product Image"
    />
  </a>
  <div class="partial_product_right">
    <div>
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
    </div>
    <div class="numbers_and_buttons">
      <p class="product_id">ID: <%= product.id %> </p>
      <div class="product_price">
        <span id="product_<%= product.id %>_price"
          >$ <%= product.price %></span
        >
      </div>
      <% if (isAdmin) { %>
        <form action="/products/<%= product.id %>/edit" method="GET" style="text-align:center;">
          <button class="editProduct">Edit this Product</button>
        </form>
        <form id="form-deleteProduct" action="/products/<%= product.id %>/delete?_method=DELETE" method="POST" style="text-align:center;">
          <button class="deleteProduct">Delete this Product</button>
        </form>
      <% } %>
    </div>
    <div class="productTags">
      <ul>
        <li><a href="#">Veggie</a></li>
        <li><a href="#">Vegano</a></li>
        <li><a href="#">Ajíes picantes</a></li>
        <li><a href="#">Ajo</a></li>
        <li><a href="#">Hongos</a></li>
      </ul>
    </div>
  </div>
</div>
