<div class="partial_product product" id="<%= product.name %>">
  <a href="/products/<%= product.id%>">
    <img
      class="partial_product_left"
      src="images/deleteMockupImages/casserole-dish-2776735_1280.jpg"
      alt="Product Image"
    />
  </a>
  <div class="partial_product_right">
    <div>
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
    </div>
    <div class="numbers_and_buttons">
      <div>
        <span
          >Cantidad: <span id="productQuantity_<%= product.id %>">1</span></span
        >
        <div class="quantityButtons">
          <button id="quantityIncrease"><i class="fas fa-plus"></i></button>
          <button id="quantityDecrease"><i class="fas fa-minus"></i></button>
        </div>
      </div>
      <div class="product_price">
        <!-- $ -->
        <span id="product_<%= product.id %>_price"
          >$ <%= product.price %></span
        >
      </div>
      <!-- <div class="buttonAddToCartInProduct">
        <%#- include('buttonAddToCart') %>
      </div> -->
      <% if (isAdmin) { %>
        <form class="createP-form" action="/products/<%= product.id %>/edit" method="GET" style="text-align:center;">
          <span>Admin/Owner only: </span>
          <button>Edit this Product</button>
        </form>
        <form class="createP-form" action="/products/<%= product.id %>/delete?_method=DELETE" method="POST" style="text-align:center;">
          <span>Admin/Owner only: </span>
          <button style="background-color: var(--color-red);">Delete this Product</button>
        </form>
      <% } %>
    </div>
    <div class="productTags">
      <ul>
        <li><a href="#">Veggie</a></li>
        <li><a href="#">Vegano</a></li>
        <li><a href="#">Ajíes picantes</a></li>
        <li><a href="#">Ajo</a></li>
        <li><a href="#">Hongos</a></li>
      </ul>
    </div>
  </div>
</div>
