<div class="userInList">
  <div class="userInList_avatar">
    <img src="<%= user.avatar %>" alt="User profile image" />
  </div>
  <div class="userInlist_id">Id: <%= user.id %></div>
  <div class="userInlist_name">
    Name: <%= user.first_name + " " + user.last_name %>
  </div>
  <div class="userInlist_email">Email: <%= user.email %></div>
  <div class="userInlist_role">Actual Role: <%= user['user_role.name'] %></div>
  <div class="userInList_roleSelect">
    <form action="users/update/<%= user.id %>" method="POST">
      <label for="roleSelect">Select New Role</label>
      <select id="roleSelect" name="roleSelect">
        <% roles.forEach(role => { %>
        <option value="<%= role.id %>" <%- role.id == user.user_role_id ? "selected" : "" %>><%= role.name %></option>
        <% }) %>
      </select>
      <button>Update</button>
    </form>
  </div>
</div>
