<html lang="en">
  <%- include('../partials/head.ejs',{css: 'productEdit.css'}) %>
  <body class="body-productEdit">
    <%- include('../partials/header.ejs') %>
    <main class="main-product_create">
      <div class="container">
        <section>
          <div class="createP-section">
            <h1 class="titulo-agregarP">Editar productos por menu %></h1>
              <% let initialMenu = "" %>
              <% menu_products.forEach(function(item, index) { %>
                <% if(initialMenu != item.menu.name) {%>
                  <% initialMenu = item.menu.name; %>
                <h2><%= item.menu.name %></h2>
                <% } %>
                <div>
                  <h3><span><%= ((index % 5) + 1) %></span> - <%= item.product.name %> (id: <%= item.product.id %>)</h3>
                </div>

                <form action="update/<%= item.id %>" method="POST">
                  <label for="menuProductEdit_newProductSelect">Cambiar por producto...</label>
                  <select id="menuProductEdit_newProductSelect" name="nuevoItemId">
                    <% products.forEach(product => { %>
                     <option value="<%= product.id %> "><%= product.name %> (<%= product.id %>)</option>
                    <% }) %>
                  </select>
                  <button>Actualizar</button>
                </form>
                <hr>


            <% }); %>
            
          </div>
        </section>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
