<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <!--TOP NAV-->
        <%- include('../partials/header.ejs') %>

        <main class="main-login">
            <!-- seccion de login -->
            <div class="login-section">
                <div class="login-box">
                    <h3 class="titulo-iniciar">Inicia sesión</h3>

                    <form action="/users/login" method="POST" class="login-form"  autocomplete="on">
                        <div class="form-element">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="l-email" name="email" value="<%= locals.oldData ? oldData.email : '' %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                        
                        <div class="form-element">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" class="l-contraseña" name="password">
                        </div>
                        
                        <button type="submit" value="Ingresar" class="login-b">Ingresar</button>
                    </form>

                    <div class="crear-cuenta">
                        <span>¿Aún no tenes tu cuenta? <a class="medium-link" href="/users/register">Crea tu cuenta</a></span>
                    </div>
                    <div class="recuperar-contraseña">
                        <a class="small-link" href="/recoverPassword" target="blank">¿Olvidaste tu contraseña?</a>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %> 
    </body>
</html>