<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {css}) %>
  <body class="body-profile">
    <!--TOP NAV-->
    <%- include('../partials/header.ejs') %>
    <div class="container">
      <main class="main-profile">
        <div class="main-profile-left">
          <img src="/images/avatars/<%= user.avatar %> " />
        </div>
        <div class="main-profile-right">
          <h1><%= user.first_name %> <%= user.last_name %></h1>
          <p class="main-profile-email"><%= user.email %></p>
          <p class="main-profile-role">Rol: <%= user.user_role %></p>
          <p class="main-profile-role">Rol id: <%= user.user_role_id %></p>
          <div class="main-profile-buttons">
            <% if (isOwner) { %>
              <a class="main-profile-show-roles" href="/products">Productos</a>
              <a class="main-profile-show-roles" href="/users/roles">Roles</a>
              <a class="main-profile-show-users" href="/users">Usuarios</a>
            <% } %>
            <a class="main-profile-logout" href="/users/logout">Salir</a>
          </div>
        </div>
      </main>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
