<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
    <body>
        <!--TOP NAV-->
        <%- include('../partials/header.ejs') %>

        <main class="main-register">
            <!-- Formulario de Registro -->
            <div class="register-section">
                <div class="register-box">
                    <h3 class="titulo-registrar">Creá tu cuenta</h3>
                    

                    <form action="/users/register" method="POST" enctype="multipart/form-data" class="register-form"  autocomplete="on">
                        <div class="form-element">
                            <label for="email" class="form-label">E-mail:</label>
                            <input type="email" id="email" name="email" value="<%= locals.oldData ? oldData.email : '' %>">
                            <% if (locals.errors && errors.email) { %>
                                <div class="text-danger">
                                    <%= errors.email.msg %> 
                                </div>
                            <% } %>
                        </div>
                        
                        <div class="form-element">
                            <label for="first_name" class="form-label">Nombre:</label>
                            <input type="text" id="first_name" name="first_name" value="<%= locals.oldData ? oldData.first_name : null %>">
                            <% if (locals.errors && errors.first_name) { %>
                                <div class="text-danger">
                                    <%= errors.first_name.msg %> 
                                </div>
                            <% } %>
                        </div>
                        
                        <div class="form-element">
                            <label for="last_name" class="form-label">Apellido:</label>
                            <input type="text" id="last_name" name="last_name" value="<%= locals.oldData ? oldData.last_name : null %>">
                            <% if (locals.errors && errors.last_name) { %>
                                <div class="text-danger">
                                    <%= errors.last_name.msg %> 
                                </div>
                            <% } %>
                        </div>

                        <div class="form-element">
                            <label for="phone_number" class="form-label">Teléfono:</label>
                            <input type="text" id="phone_number" name="phone_number" value="<%= locals.oldData ? oldData.phone_number : null %>">
                            <% if (locals.errors && errors.phone_number) { %>
                                <div class="text-danger">
                                    <%= errors.phone_number.msg %> 
                                </div>
                            <% } %>
                        </div>

                        <div class="form-element">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" id="password" name="password">
                            <% if (locals.errors && errors.password) { %>
                                <div class="text-danger">
                                    <%= errors.password.msg %> 
                                </div>
                            <% } %>
                        </div>
                        
                        <div class="form-element">
                            <label for="confirmPass" class="form-label">Confirma Contraseña:</label>
                            <input type="password" id="confirmPass" name="confirmPass">
                            <% if (locals.errors && errors.confirmPass) { %>
                                <div class="text-danger">
                                    <%= errors.confirmPass.msg %> 
                                </div>
                            <% } %>
                        </div>

                        <div class="form-element">
                            <label for="avatar" class="form-label">Imagen de perfil:</label>
                            <input type="file" name="avatar" id="avatar" value="<%= locals.oldData ? oldData.avatar : null %>">
                        </div>
                        <button type="submit" value="Registrarse" class="registrar-b">Registrarse</button>
                    </form>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %> 
    </body>
</html>