<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Shadows+Into+Light&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/headerFooter.css" />

    <!-- partials -->
    <link rel="stylesheet" href="/css/partials/partial_buttonAddToCart.css" />
    
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link
      rel="icon"
      href="/images/logo_nutriviandas.jpeg"
      type="image/gif"
      sizes="16x16"
    />
    <title>Nutriviandas - Detalle de producto</title>
  </head>
  <body class="productDetail">

    <%- include('../partials/header.ejs') %> 

    <main>
      <div class="container">
        <section class="productAndDescription">
          <div class="productAndDescriptionPhoto">
            <img
              src="/images/deleteMockupImages/casserole-dish-2776735_1280.jpg"
              alt="Product Image"
            />
          </div>
          <div id="productAndDescriptionText">
            <h2><%= product.product_name %>  <br>(id: <%= product.id %>) </h2>
            <p>
              <%= product.product_description %>
            </p>
            <br>
            <br>
            <br>
            <form
            class="createP-form"
            action="/products/<%= product.id %>/edit"
            method="GET"
            style="text-align:center;">
            <span>Admin only: </span>
            <button>Edit this Product</button>
          </form>
          </div>
          <div class="productExtraLeftPriceDelivery">
            <h2>Precio</h2>
            <div class="precioProducto"><%= product.product_price %></div>
            <div class="productExtraOptions">
              <!-- OPCIONES DE ENTREGA OBLIGATORIAS DE ELEGIR CON UN PUNTO DE TILDES -->
              <form id="form-deliveryOptions">
                <h2>Opciones de Entrega</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <label for="option1">
                  <input type="radio" name="deliveryOptions" id="option1" />
                  Opción 1
                </label>
                <label for="option2">
                  <input type="radio" name="deliveryOptions" id="option2" />
                  Opción 2
                </label>
                <label for="option3">
                  <input type="radio" name="deliveryOptions" id="option3" />
                  Opción 3
                </label>
                <div class="productExtraCart">
                  <h2>Agregar al carrito</h2>
                  <%- include('../partials/buttonAddToCart') %>
                </div>
              </form>
            </div>
          </div>
        </section>
        <section class="productExtraData">
          <div class="productExtraLeft">
            <div class="productExtraLeftNutrition">
              <h2>Información Nutricional</h2>
              <!-- mockup delete -->
              <table class="productNutritionalInfoTable">
                <thead>
                  <tr>
                    <th colspan="3" scope="col">
                      <p style="text-align: center"><strong>Example</strong></p>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th colspan="2">One Serving</th>
                    <th scope="col">%DV</th>
                  </tr>
                  <tr>
                    <td><strong>Serving Size</strong></td>
                    <td><span>1 cup</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><strong>Calories</strong></td>
                    <td><span>280</span></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Total Fat</td>
                    <td>9g</td>
                    <td>12%</td>
                  </tr>
                  <tr>
                    <td>Saturated Fat</td>
                    <td>4.5g</td>
                    <td>23%</td>
                  </tr>
                  <tr>
                    <td><em>Trans</em> Fat</td>
                    <td>0g</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>Cholesterol</td>
                    <td>35mg</td>
                    <td>12%</td>
                  </tr>
                  <tr>
                    <td>Sodium</td>
                    <td>850mg</td>
                    <td>37%</td>
                  </tr>
                  <tr>
                    <td>Total Carbohydrate</td>
                    <td>34g</td>
                    <td>12%</td>
                  </tr>
                  <tr>
                    <td>Dietary Fiber</td>
                    <td>4g</td>
                    <td>14%</td>
                  </tr>
                  <tr>
                    <td>Total Sugars</td>
                    <td>6g</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>Added Sugars</td>
                    <td>0g</td>
                    <td>0%</td>
                  </tr>
                  <tr>
                    <td>Protein</td>
                    <td>15g</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>Vitamin D</td>
                    <td>0mcg</td>
                    <td>0%</td>
                  </tr>
                  <tr>
                    <td>Calcium</td>
                    <td>320mg</td>
                    <td>25%</td>
                  </tr>
                  <tr>
                    <td>Iron</td>
                    <td>1.6mg</td>
                    <td>8%</td>
                  </tr>
                  <tr>
                    <td>Potassium</td>
                    <td>510mg</td>
                    <td>10%</td>
                  </tr>
                </tbody>
              </table>
              <!-- mockup delete -->
            </div>
          </div>
          <div class="productExtraRight">
            <div class="productExtraRightOptionsCart"></div>
            <div class="productExtraRightRecommended">
              <h2>Otros platos recomendados</h2>
              <p>Quienes pidieron este plato, también pidieron:</p>
              <div class="productsRecommended">
                <div>
                  <img
                    src="/images/deleteMockupImages/casserole-dish-2776735_1280.jpg"
                    alt="Product Image"
                  />
                  <div class="productsRecommendedText">
                    <p>Plato de Ejemplo</p>
                  </div>
                </div>
                <div>
                  <img
                    src="/images/deleteMockupImages/casserole-dish-2776735_1280.jpg"
                    alt="Product Image"
                  />
                  <div class="productsRecommendedText">
                    <p>Plato de Ejemplo</p>
                  </div>
                </div>
                <div>
                  <img
                    src="/images/deleteMockupImages/casserole-dish-2776735_1280.jpg"
                    alt="Product Image"
                  />
                  <div class="productsRecommendedText">
                    <p>Plato de Ejemplo</p>
                  </div>
                </div>
                <div>
                  <img
                    src="/images/deleteMockupImages/casserole-dish-2776735_1280.jpg"
                    alt="Product Image"
                  />
                  <div class="productsRecommendedText">
                    <p>Plato de Ejemplo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>

    <%- include('../partials/footer.ejs') %> 

  </body>
</html>
